<div class="tool-panel">
	
	<script type="text/javascript">
		function reading(tool) {
			console.log(tool);
		}
	</script>
	
	
	
	<!-- default mode -->
	<div id="tool-reding" class="tool" onclick="reading()">Reading</div>
	<!-- miss all the watery stuff -->
	<div id="tool-dry" class="tool">Dry</div>
	<!-- highlight main words, shadow surroundings -->
	<div id="tool-emphasis" class="tool">Emphasis</div>
	<!-- hide everything but structure -->
	<div id="tool-structure" class="tool">Structure</div>
	<!-- highlight suspicious words, show justification for the usage, shadow surroundings  -->
	<div id="tool-suspects" class="tool">Suspects</div>
	<!-- activate quiz section, if any -->
	<div id="tool-tests" class="tool">Tests</div>

	
</div>