<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Практикум, тема , задание .</title>
<link rel="stylesheet" href="../../assets/styles/jost.css">
<link rel="stylesheet" href="../../assets/styles/main.css">
<link rel="stylesheet" href="../../assets/styles/structure.css">
<link rel="stylesheet" href="../../assets/styles/tools.css">
<script type="text/javascript" src="../../assets/scripts/tools.js"></script>
</head>

<body>
	<div class="section">
		<div class="title">Тема : , задание № .</div>
		<div class="content">
			<div class="block">
				<div class="synopsis">Задача</div>
				<div class="body">
					<div>
						<p></p>
					</div>
					<div class="task">
						<ol>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ol>
					</div>
					<div>
						<p></p>
					</div>

				</div>
			</div>
			<div class="block">
				<div class="synopsis">Исследование</div>
				<div class="body">
					<div class="investigation">
						<p class="definition">
							<span class="term"> </span> — <span class="explanation"></span>
						</p>
						<p></p>
					</div>
				</div>
			</div>
			<div class="block">
				<div class="synopsis">Решение</div>
				<div class="body">
					<div class="solution"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>